* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    text-align: right;
    margin-right: 3%;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    width: 100%;

}

nav li {
    display: inline-block;
    text-align: center;
    padding: 20px;

}

nav li a {
    color: black;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: none;
    color: brown;
}

.Introduction {
    max-width: 1024px;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 15em;
    padding-left: 20em;
    padding-right: 20em;
    position: relative;
    width: 100%;
}

.Introduction h1 {
    font-size: 3.5rem;
    position: fixed;
}


.Introduction h2 {
    font-size: 1.7rem;
    padding-top: 4rem;
    position: fixed;
}


.Profile_image {
    max-width: 1024px;
    margin-left: 20.2em;
    margin-top: 8em;
}

.Profile_image img {
    width: 10rem;
    height: auto;
    position: fixed;
    border-style: solid;
    border-color: brown;
}


body {
    background-color: white;
}


@media only screen and (max-width: 768px) and (min-width: 480px) {
    nav {
        position: relative;
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    nav li {
        display: inline-block;
        text-align: center;
        padding: 20px;

    }

    nav li a {
        color: black;
        text-decoration: none;
    }

    nav li a:hover {
        text-decoration: none;
        color: brown;
    }

    .Introduction {
        padding-top: 10em;
        font-size: 1em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: relative;
        right: 10em;
        width: 100%;
        top: 2em;
    }

    .Introduction h1 {
        position: fixed;
    }

    .Introduction h2 {
        position: fixed;
        top: 16rem;
    }

    .Profile_image {
        max-width: 768px;
        position: relative;
        top: 3em;
        display: inline-block;
    }

    .Profile_image img {
        width: 8rem;
        height: auto;
        position: relative;
        right: 10em;
    }

}

@media only screen and (max-width: 480px) {
    nav {
        display: none;
    }

    .Introduction {
        font-size: 1em;
        font-family: cursive;
        position: relative;
        right: 10em;
        top: 2em;
    }

    .Introduction h1 {
        position: relative;
        width: 100%;
    }

    .Introduction h2 {
        position: relative;
        top: -4rem;
    }

    .Profile_image {
        max-width: 480px;
        position: relative;
        top: -8em;
        display: inline-block;
    }

    .Profile_image img {
        width: 8rem;
        height: auto;
        position: relative;
        right: 10em;
    }
}